

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(61, 92, 135);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
}

.header div{
    background-color: rgb(104, 147, 147);
    /* display: inline-block; */
    height: 100%;
    text-align: center;
    width:17vw;
    
    
}

.bt-1{
    border-right:solid 2px black ;
}
.bt-2{
    border-right:solid 2px black ;
}
.bt-3{
    border-right:solid 2px black ;
}
.bt-4{
    border-right:solid 2px black ;
}
.bt-5{
    border-right:solid 2px black ;
}

.header a{
    text-decoration: none;
}

.header p{
    color: black;
    font-family: sans-serif;

}

.header div:hover{
    background-color: rgb(149, 207, 207);
}



